# Dependencies
node_modules
frontend/node_modules
backend/functions/node_modules

# Build output
dist
frontend/dist

# Environment secrets
.env
*.env.local

# Firebase cache
.firebase

# OS
.DS_Store

# Lock files root
package-lock.json
